h1  {
    background-color: black;
    color: aliceblue;
    text-align: center;
}
h2 {
        background-color: black;
        color: aliceblue;
        text-align: center;
    
}
p {
    color: green;
}
.azul {
    color: blue;
}